{% extends 'theme.html' %}

{% block body %}

<h3><u>Add expense</u></h3>
<form method="POST">
    <p>
        <label for="item">Item Name</label>
        <input type="text" name="item"
                id="item" placeholder="Enter item name">
    </p>
    <p>
        <label for="price">Item Price</label>
        <input type="text" name="price" id="price"
                min="0" max="10000" placeholder="Enter price">
    </p>
    <p>
        <button>Save</button>
    </p>
    {% if msg %}
        <p>{{msg}}</p>
    {% endif %}
</form>

<br><br>
<h3 style="font-size: 35px;">Saved Data</h3>
{{records}}
{% endblock body %}